<div class="table-div">
  <mat-table [dataSource]="users" class="mat-elevation-z8" style="max-width: 1500px">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ng-container *ngIf="!editName || selectedUser != element">
          <span (click)="editName = true; selectedUser = element">{{element.name}}</span>
        </ng-container>
        <ng-container *ngIf="editName && selectedUser == element">
          <mat-form-field>
            <input matInput placeholder="{{element.name}}" [(ngModel)]="element.name">
          </mat-form-field>
          <button mat-raised-button color="primary"
                  (click)="editName = false; selectedUser = null; saveChanges(element)">Save
          </button>
        </ng-container>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Role</mat-header-cell>
      <mat-cell *matCellDef="let element" class="role-cell">
      <span>
        <mat-form-field appearance="fill">
          <mat-select [(ngModel)]="element.type">
            <mat-option *ngFor="let role of roles" [value]="role">
              {{role}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </span>
        <button mat-flat-button type="submit" (click)="saveChanges(element)">Save</button>
        <button mat-flat-button type="submit" color="warn" (click)="deleteUser(element)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <button mat-flat-button color="primary" (click)="openRegisterDialog()">Create User</button>
</div>

<!--<button mat-raised-button (click)="openDialog('0ms', '0ms')">Open dialog without animation</button>-->
