<header class="client-top-bar">
  <div class="logo">
    <img (click)="toHome()" src="assets/logo-white.png" class="logo-fmi">
  </div>
  <div (click)="toHome()" class="client-title">
    <h3>FMI Materials ❤️</h3>
  </div>
  <div class="nav-bar">
    <button *ngIf="!isLogged" (click)="activityIndex=0" [class.active]="activityIndex===0" [routerLink]="'login-form'">Login</button>
    <div class="operation-buttons" *ngIf="isLogged">
      <div class="courses">
        <button class="clickable" (click)="activityIndex=1" [class.active]="activityIndex === 1" [routerLink]="'courses'">Courses</button>
      </div>
      <div class="search">
        <button class="search" (click)="activityIndex=2" [class.active]="activityIndex === 2" [routerLink]="'search'">Search</button>
      </div>
      <div class="favorites">
        <button class="favorite" (click)="activityIndex=3" [class.active]="activityIndex === 3" [routerLink]="'favorites'">Favorites</button>
      </div>
      <div class="logout-button">
        <button class="logout" (click)="logout();">Log Out</button>
      </div>
    </div>
  </div>
</header>
<div class="body">
  <router-outlet class="ea-config-tool-router-outlet"></router-outlet>
</div>