div.body {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

router-outlet {
    width: max-content;
}

.nav-bar {
    width: 300px;
}

div.operation-buttons {
    width: 300%;
    color: white;
    display: flex;
    flex-direction: row;
}

.search {
    display: flex;
    flex-direction: row;
    width: 150px;
    align-content: space-between;
}

.clickable{
    background-color: gray;
    border: 1px solid white;
}