<div class="register-form">
    <div class="field">
        <label class="label">Name</label>
        <input type="text" [(ngModel)]="user.name">
    </div>
    <div class="field">
        <label class="label">Email</label>
        <input type="email" [(ngModel)]="user.email">
    </div>
    <div class="field">
        <label class="label">Password</label>
        <input type="password" [(ngModel)]="user.password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
    </div>
    <button class="button" (click)="register()">Register</button>
</div>